@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body, html{
  margin: 0;
  padding: 0;

}
body{
  font-family:'Poppins', sans-serif;
}


a{
    text-decoration: none;
    color: #252525;
}


.badge, .accordion-button{
    cursor: pointer;
}

.margin-top{
margin-top: 80px;
}



    /**  NAVIGATION BAR  **/
.navbar .navbar-brand{
  padding: 0;
}
.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    border-radius: 60px;
    padding: 8px 15px;
  /*  margin: 0 5px; */
    transition: all 0.5s;
}
.navbar-nav > .nav-item > a.active  { 
    background-color: #5d5d5d;
    color: #fff;
}
.navbar-nav > li > .dropdown-menu { 
  background-color: #5d5d5d; 
  font-family: 'Poppins',sans-serif;
  font-size: 16px;

}
/* NAVIGATION LINK DROPDOWN CUSTOM */
.navbar-nav > li > .dropdown-menu > li > a { 
  color: #fff;
  transition: all 0.5s;
  padding: 10px;
}
.navbar-nav > li > .dropdown-menu > li > a:hover { 
  color: #ffffff;
  background-color: #2e2e2e;
}
.navbar .navbar-nav .nav-link:hover{
  background-color: #5D5D5D;
}

#custbtn{
  background-color: #fff;
  border: 1px solid #141414;
  color: #141414;
  font-weight: 500;
  border-radius: 26px;
  padding: 0.4em 1.5em;
}

#custbtn-reverse:hover{
  background-color: #fff;
  border: 1px solid #141414;
  color: #141414;
  font-weight: 500;
  border-radius: 26px;
  padding: 0.8em 1.5em;
}
#custbtn-reverse{
  background-color: #141414;
  color: #fff;
  font-weight: 500;
  border-radius: 26px;
  padding: 0.8em 1.5em;
}
  
/* MEDIA BREAKPOINTS  */
@media only screen and (max-width: 992px) {
    .navbar {
      padding: 2px 0;
    }
    .navbar .navbar-nav .nav-link {
      padding: 0.9em 0.7em;
      transition: all 0.5s;
      margin: 0 2px;
    }
    .navbar .navbar-brand {
      padding: 15px 0px;
    }
    .collapse{
      margin-bottom: 20px;
    }
  
    .projects h1{
        margin-bottom: 0;
        padding: 0;
        
    }





#custbtn{
  background-color: #fff;
  border: 1px solid #141414;
  color: #141414;
  font-weight: 500;
  border-radius: 26px;
  padding: 0.4em 1.5em;
}
#custbtn-reverse{
  background-color: #141414;
  color: #fff;
  font-weight: 500;
  border-radius: 26px;
  padding: 0.4em 1.5em;
  
}
#custbtn-reverse:hover{
  padding: 0.4em 1.5em;
  
}
.btn-custom:hover{
  background-color: #141414;
  color: #fff;
}
.btn-custom-reverse:hover{
 color: #141414;
  background-color: #fff;
  padding: 0.4em 1.5em;
}
.banner-right{
  z-index: 0;
}
}

/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) { 
    .cardImg{
        height: 150px;
        width: auto;
    }
    .card{
        margin: 30px 0;
        margin-top: 15px;   
        font-size: 10px;
    }
    .card img{
        object-fit:cover;
        object-position: 50% 30%;
    }
    .badge{
        font-size: xx-small;
 
     }
}

/** // Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) { 
    .cardImg{
        height: 150px;
        width: auto;
    }
    .card{
        margin: 20px 0;
        font-size: 14px;
    }
    .card img{
        object-fit:cover;
        object-position: 50% 50%; /*x(left-right), y(top-bottom) */
    }

    
}

/** Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .cardImg{
        height: 200px;
        width: auto;
    }
    .card{
        margin: 20px 0;
        font-size: 0.80em;
    }
    .card img{
        object-fit:cover;
        object-position: 50% 30%; /*x(left-right), y(top-bottom) */
    }
    .card-title-modified{ /* font size of title card */
        font-size: 1.5em;

    }
    .badge{
        font-size: x-small;
 
 
     }
     
 }

